# 4.2.3 Inspecting the vectors

In [7]:
# Import the necessary modules
import pandas as pd
from sklearn.model_selection import train_test_split
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

df=pd.DataFrame.from_csv('fake_or_real_news.csv')

In [8]:
# Print the head of df
print(df.head())

# Create a series to store the labels: y
y = df.label

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(
                                             df['text'], y, 
                                             test_size=0.33, 
                                             random_state=53)

                                                   title  \
8476                        You Can Smell Hillary’s Fear
10294  Watch The Exact Moment Paul Ryan Committed Pol...
3608         Kerry to go to Paris in gesture of sympathy
10142  Bernie supporters on Twitter erupt in anger ag...
875     The Battle of New York: Why This Primary Matters

                                                    text label
8476   Daniel Greenfield, a Shillman Journalism Fello...  FAKE
10294  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
3608   U.S. Secretary of State John F. Kerry said Mon...  REAL
10142  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
875    It's primary day in New York and front-runners...  REAL

Count Vectors

In [19]:
# Initialize a CountVectorizer object: count_vectorizer
count_vectorizer = CountVectorizer(stop_words="english")

# Transform the training data using only the 'text' column values: count_train 
count_train = count_vectorizer.fit_transform(X_train.values)

# Transform the test data using only the 'text' column values: count_test 
count_test = count_vectorizer.transform(X_test.values)

# Print the first 10 features of the count_vectorizer
print(count_vectorizer.get_feature_names()[:10])
#Array mapping from feature integer indices to feature name

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']

In [17]:
print(count_train) #document number/tweet, word ID, count

  (1, 36831)	1
  (1, 47506)	1
  (1, 38823)	1
  (1, 25684)	1
  (1, 21568)	1
  (1, 36087)	1
  (1, 16814)	1
  (1, 49203)	2
  (1, 25686)	1
  (1, 15927)	2
  (1, 29531)	2
  (1, 8399)	1
  (1, 42534)	1
  (1, 21881)	1
  (1, 35256)	1
  (1, 35783)	4
  (1, 51896)	2
  (1, 44520)	2
  (1, 15924)	2
  (1, 50628)	1
  (1, 54177)	1
  (1, 12105)	1
  (1, 42470)	1
  (2, 9445)	1
  (2, 8779)	1
  :	:
  (4243, 30464)	1
  (4243, 35836)	2
  (4243, 48084)	2
  (4243, 22146)	1
  (4243, 9042)	2
  (4243, 35190)	2
  (4243, 52934)	1
  (4243, 35037)	1
  (4243, 55388)	2
  (4243, 43875)	1
  (4243, 43172)	1
  (4243, 3441)	1
  (4243, 35035)	1
  (4243, 11982)	2
  (4243, 39633)	4
  (4243, 22069)	1
  (4243, 7184)	1
  (4243, 14871)	1
  (4243, 41311)	1
  (4243, 50690)	1
  (4243, 27842)	1
  (4243, 37695)	1
  (4243, 38823)	1
  (4243, 51896)	6
  (4243, 50628)	1

Tfidf Vectors

In [10]:
# Initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words="english", max_df=0.7)

# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train.values)

# Transform the test data: tfidf_test 
# DO NOT FIT TEST DATA because test data may include NEW WORDS
tfidf_test = tfidf_vectorizer.transform(X_test.values)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names()[:10])

# Print the first 5 vectors of the tfidf training data
print(tfidf_train[:5])

/Users/sophia/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']
  (1, 42470)	0.07711040274149526
  (1, 12105)	0.15008066461476866
  (1, 54177)	0.13782629144711137
  (1, 50628)	0.061296988343109586
  (1, 15924)	0.3479045460649079
  (1, 44520)	0.4973826512693341
  (1, 51896)	0.11596517664605868
  (1, 35783)	0.30902690818827977
  (1, 35256)	0.12628385718450857
  (1, 21881)	0.21271688045815978
  (1, 42534)	0.06081715886809217
  (1, 8399)	0.08729542880625335
  (1, 29531)	0.1454406205718245
  (1, 15927)	0.4973826512693341
  (1, 25686)	0.13550453594288983
  (1, 49203)	0.1672740861784377
  (1, 16814)	0.10404977746548139
  (1, 36087)	0.12648679854389897
  (1, 21568)	0.1007920919566398
  (1, 25684)	0.1030420922189754
  (1, 38823)	0.06048803110658644
  (1, 47506)	0.14539060877460044
  (1, 36831)	0.10772488937433067
  (2, 16972)	0.1606296088662543
  (2, 762)	0.48803966069171073
  :	:
  (4, 19325)	0.05452053080897492
  (4, 7259)	0.06755319386644243
  (4, 51456)	0.06475353785981061
  (4, 7426)	0.06511222583761835
  (4, 39829)	0.05465988305311523
  (4, 9486)	0.0498567667112753
  (4, 27568)	0.028302541956335657
  (4, 48702)	0.1743065129793454
  (4, 41541)	0.03347420115927609
  (4, 20268)	0.040257433434577744
  (4, 44567)	0.04521244574721562
  (4, 7184)	0.04119900385804159
  (4, 15056)	0.06406962747278261
  (4, 23980)	0.040601095306683384
  (4, 36845)	0.03921825297423197
  (4, 37249)	0.04750657931325537
  (4, 12692)	0.0406789533096042
  (4, 43655)	0.07010870747834863
  (4, 4093)	0.059095267180806606
  (4, 26966)	0.031877860469596585
  (4, 9120)	0.02872653761009892
  (4, 5676)	0.059095267180806606
  (4, 22019)	0.07963078672826533
  (4, 43462)	0.12234830953369169
  (4, 23468)	0.03469208821573642

In [23]:
count_train.shape

(4244, 56922)

In [24]:
count_train

<4244x56922 sparse matrix of type '<class 'numpy.int64'>'
	with 1119820 stored elements in Compressed Sparse Row format>

In [6]:
#create dfs where rows are articles

# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Print the head of count_df
print(count_df.head())

# Print the head of tfidf_df
print(tfidf_df.head())

# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

   00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...    \
0   0    0     0         0       0      0     0       0      0      0  ...
1   0    0     0         0       0      0     0       0      0      0  ...
2   0    0     0         0       0      0     0       0      0      0  ...
3   0    0     0         0       0      0     0       0      0      0  ...
4   0    0     0         0       0      0     0       0      0      0  ...

   حلب  عربي  عن  لم  ما  محاولات  من  هذا  والمرضى  ยงade
0    0     0   0   0   0        0   0    0        0      0
1    0     0   0   0   0        0   0    0        0      0
2    0     0   0   0   0        0   0    0        0      0
3    0     0   0   0   0        0   0    0        0      0
4    0     0   0   0   0        0   0    0        0      0

[5 rows x 56922 columns]
    00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...    \
0  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
1  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
2  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
3  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
4  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...

   حلب  عربي   عن   لم   ما  محاولات   من  هذا  والمرضى  ยงade
0  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
1  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
2  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
3  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
4  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0

[5 rows x 56922 columns]
set()
False